<!DOCTYPE html>
<html>
<head>
	<title>Book Reviews</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'reviewer/css/books.css' %}">
</head>
<body>
	<div class="container">
		<div class="header">
				<h1>Welcome, {{user.name}}</h1>
				<h2>Recent book reviews:</h2>
				<a href="/add_book">Add a book or review</a>
				<a href="/logout">Logout</a>

		</div>
		<div class="recent_reviews">
			
		</div>
		<div class="other_reviews">
			
		</div>	
	</div>
	

</body>
</html>